.main-background {
  -fx-background-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 50% , rgb(22,81,93) 30%, rgb(0,52,63) 100%);
}

.card-area-table {
  -fx-background-color: #6A4515;
  -fx-padding: 20;
  -fx-background-radius: 15;
  -fx-box-shadow: black 0 0 10;
}

.card-area-table-felt {
  -fx-background-color: #006400;
  -fx-padding: 35;
  -fx-background-radius: 10;
}

.control-panel {
  -fx-background-color: #6A4515;
  -fx-background-radius: 12;
  -fx-box-shadow: black 0 0 10;
}

.deal-hand-button {
  -fx-background-color: #00acb9;
  -fx-text-fill: black;
  -fx-font-size: 16;
  -fx-font-weight: 700;
}

.deal-hand-button:hover {
  -fx-scale: 1.05;
  -fx-background-color: #007ea4;
}

.check-hand-button {
  -fx-background-color: rgba(246, 255, 0, 0.77);
  -fx-text-fill: black;
  -fx-font-size: 16;
  -fx-font-weight: 700;
}

.check-hand-button:hover {
  -fx-scale: 1.05;
  -fx-background-color: rgba(152, 157, 45, 0.77);
}

.text-label {
  -fx-font-size: 14;
  -fx-text-fill: white;
}

.valueLabel {
  -fx-font-size: 16;
  -fx-text-fill: white;
  -fx-font-weight: bold;
}

.queenValueLabel {
  -fx-font-size: 16;
  -fx-text-fill: red;
}

.flushValueLabel {
  -fx-font-size: 16;
  -fx-text-fill: red;
}